<h1> Depoimentos</h1>
<hr>

<section id="testimonies">

    <div class="card text-dark mb-3">
        <h5 class="card-header">
            Lucas Moreno
            <small>17/04/2022</small>
        </h5>
        <div class="card-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repellat, laboriosam accusantium minus aliquid deleniti eaque, similique porro unde beatae saepe hic voluptates ex voluptatibus maxime earum ullam repudiandae odio?
        </div>
    </div>

    <div class="card text-dark mb-3">
        <h5 class="card-header">
            Lucas Moreno
            <small>17/04/2022</small>
        </h5>
        <div class="card-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repellat, laboriosam accusantium minus aliquid deleniti eaque, similique porro unde beatae saepe hic voluptates ex voluptatibus maxime earum ullam repudiandae odio?
        </div>
    </div>

    <div class="card text-dark mb-3">
        <h5 class="card-header">
            Lucas Moreno
            <small>17/04/2022</small>
        </h5>
        <div class="card-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse repellat, laboriosam accusantium minus aliquid deleniti eaque, similique porro unde beatae saepe hic voluptates ex voluptatibus maxime earum ullam repudiandae odio?
        </div>
    </div>

</section>

<hr>

<section id="form">

    <h3>Envie o seu depoimento</h3>

    <form method="post">

        <div class="form-group">
            <label>Nome</label>
            <input 
                type="text" 
                class="form-control" 
                name="name" 
                required>

        </div>

        <div class="form-group">
            <label>Mensagem</label>
            <textarea 
                class="form-control"
                rows="5" 
                name="message" 
                required>
            </textarea>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success">
                    Enviar
                </button>

            </div>

        </div>

    </form>

</section>